@import ".meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic";
@import ".meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons";

body {
  font-family: Helvetica Neue;
  font-weight: 300;
}

.card {
  cursor: pointer;
}

.bar.bar-light {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#36b9bb+0,59b0b8+100 */
  background: #36b9bb; /* Old browsers */
  background: -moz-linear-gradient(top,  #36b9bb 0%, #59b0b8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36b9bb), color-stop(100%,#59b0b8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #36b9bb 0%,#59b0b8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #36b9bb 0%,#59b0b8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #36b9bb 0%,#59b0b8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #36b9bb 0%,#59b0b8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36b9bb', endColorstr='#59b0b8',GradientType=0 ); /* IE6-9 */
  color: white;
}

.bar-light .button {
  color: white;
}

.bar.bar-light .title {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.logo img {
  height: 34px;
  margin-top: 5px; 
}

.button.wagon {
  background: transparent;
  border: none;
}

.bar-light .button.wagon {
  border: none;
  background: transparent;
}

.wagon img {
  height: 34px;
}